a {
  color          : #100D08;
  text-decoration: none;
}
a:hover {
  color: #FFC107;
}

nav.menu {
  background-color: #100D08;
  text-transform  : uppercase;
  height          : 5rem;
  line-height     : 5rem;
  text-align      : center;
}

nav.menu a {
  color       : #FAFAFA;
  margin-right: 3rem;
}
nav.menu a:last-child {
  margin-right: 0;
}

.header-container,
.header-container h1 {
  font-size     : 10rem;
  height        : 20rem;
  text-align    : center;
  text-transform: lowercase;
  vertical-align: bottom;
  line-height   : 20rem;

}

.listagem-produtos {
  margin-top   : 3rem;
  margin-bottom: 3rem;
}

.listagem-produtos .row {
  max-height: 50rem;
}

.produto-legenda {
  height: 8rem;
}

.produto-listagem {
  text-align: center;
}

.produto-imagem {
  max-height: 45rem;
}

.produto-imagem img {
  max-height: inherit;
}

.foto-principal-produto img {
  max-width: 100%;
}

.thumbnail-container {
  height  : 10rem;
  width   : 10rem;
  display : inline;
  overflow: hidden;
}

.thumbnail-container img {
  max-width: 100%;
}

.botao-comprar-produto {
  border        : 0.5rem solid #100D08;
  text-transform: uppercase;
  text-align    : center;

  padding-top   : 1rem;
  padding-bottom: 1rem;
}

.spacer-band {
  height: 50rem;
}

.footer-band {
  height          : 30rem;
  background-color: #100D08;
}
